<h1>Programas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>KM</th>
      <th>Estatus</th>
      <th>Projectos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= programme.name %></td>
        <td><%= programme.description %></td>
        <td><%= programme.score %></td>
        <td><%= programme.status %></td>
        <td><%= link_to programme.projects.size, programme_projects_path(programme.id) %></td>
        <td><%= link_to 'Ver', programme %></td>
        <td><%= link_to 'Editar', edit_programme_path(programme) %></td>
        <td><%= link_to 'Eliminar', programme, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo Programa', new_programme_path %>
