<p>
  <strong>Nombre:</strong>
  <%= @programme.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @programme.description %>
</p>

<p>
  <strong>KM:</strong>
  <%= @programme.score %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @programme.status %>
</p>

<%= link_to 'Editar', edit_programme_path(@programme) %> |
<%= link_to 'Volver', programmes_path %>
