<p>
  <strong>Programme:</strong>
  <%= @project.programme.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @project.score %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Edit', edit_programme_project_path(@project.programme.id, @project.id) %> |
<%= link_to 'Volver', programme_projects_path(@project.programme_id) %>
